
.vs/DataExtractionEngine/DesignTimeBuild/.dtbcache.v2
.vs/DataExtractionEngine/FileContentIndex/02a0509b-d2fb-4622-95ee-20f476befe10.vsidx
.vs/DataExtractionEngine/FileContentIndex/2c60c828-9f8e-411b-a9bd-85c06be370e6.vsidx
.vs/DataExtractionEngine/FileContentIndex/56189817-df77-48ea-927b-bf7ffc3eff73.vsidx
.vs/DataExtractionEngine/FileContentIndex/8dbf82a8-c71b-43de-88d7-08d81bd64c9d.vsidx
.vs/DataExtractionEngine/FileContentIndex/95dec9ad-3e7c-4233-b6a5-b727c1242908.vsidx
.vs/DataExtractionEngine/v17/.futdcache.v2
.vs/DataExtractionEngine/v17/.suo
.vs/ProjectEvaluation/dataextractionengine.metadata.v7.bin
.vs/ProjectEvaluation/dataextractionengine.projects.v7.bin
*.vsidx
*.vsidx
.vs/DataExtractionEngine/v17/.wsuo
./vs/*
bin/*
obj/*
obj/Debug/net8.0-windows/DataExtractionEngine.AssemblyInfo.cs
obj/Debug/net8.0-windows/DataExtractionEngine.AssemblyInfoInputs.cache
obj/Debug/net8.0-windows/DataExtractionEngine.assets.cache
obj/Debug/net8.0-windows/DataExtractionEngine.csproj.AssemblyReference.cache
obj/Debug/net8.0-windows/DataExtractionEngine.GeneratedMSBuildEditorConfig.editorconfig
*.editorconfig
